.todo {
  font-family: $raleway;
  margin: 35px auto;
  width: get-width(27, 31);
  &__counter {
    @include todo-counter;
    margin: 0 auto 21px auto;
    width: get-width(9, 27);
  }
  &__search {
    @include todo-search;
    margin: 0 auto 14px auto;
    width: get-width(9, 27);
  }
  &__list {
    @include todo-list;
    margin: 0 auto 21px auto;
    width: get-width(9, 27);
    &-item {
      @include todo-item;
    }
  }
  &__actions {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    width: get-width(9, 27);
    button {
      @include btn-primary;
      cursor: pointer;
      width: get-width(9, 9);
    }
  }
}