@mixin todo-search {
  input {
    background-color: $white;
    border: 1px solid #E1E2E2;
    border-radius: 22.5px;
    box-sizing: border-box;
    color: #333;
    font-size: 14px;
    padding: 22px 14px;
    width: 100%;
    &::placeholder {
      color: #8e8e8e;
      font-family: $raleway;
      font-size: 14px;
    }
  }
}